<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />

  <link rel="stylesheet" href="index.css">  
  
  </head>

  <body>
    <div id="containerUpper" >
    <div id="container">
      <div>
        <div>
        <p id="hod">HODLINFO</p>
        <p id="com">.com</p>
        </div>
        <select name="INR" id="inr">
          <option value="INR">INR</option>
        </select>

        <select name="BTC" id="btc">
          <option value="BTC">BTC</option>
          <option value="ETH">ETH</option>
          <option value="USDT">USDT</option>
          <option value="XRP">XRP</option>
          <option value="TRX">TRX</option>
          <option value="DASH">DASH</option>
          <option value="ZEC">ZEC</option>
          <option value="XEM">XEM</option>
          <option value="IOST">IOST</option>
          <option value="WIN">WIN</option>
          <option value="BTT">BTT</option>
          <option value="WRX">WRX</option>
        </select>

        <div class="timer animatable">
          <svg>
            <circle cx="70%" cy="70%" r="30" />
            <circle cx="70%" cy="70%" r="30" pathLength="1" />
            <text x="140" y="70" text-anchor="middle">
          
            <tspan id="timeLeft"><%=t%></tspan>
             
            </text>
          </svg>
        </div>

        <div id="telegram">
          <div id="icon">
            <img id="img" src="download.png" />
          </div>
          <button id="connect">Connect Telegram</button>
        </div>

        <label class="switch">
          <input type="checkbox" id="myCheck" checked/>
          <span class="slider round"></span>
        </label>
      </div>
    </div>

    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Last</th>
            <th scope="col">Buy/Sell Price</th>
            <th scope="col">Volume</th>
            <th scope="col">Base_Unit</th>
          </tr>
        </thead>


        <tbody>


          <% for(var i=0; i<data.length; i++) {%>
            <tr>
  
              <th>
                <%=i+1%>
              </th>
  
              <td>
                <%=data[i].name%>
              </td>
  
              <td>
                <%=data[i].last%>
              </td>
  
              <td>
                <%=data[i].buy%>/ <%=data[i].sell%>
              </td>
  
              <td>
                <%=data[i].volume%>
              </td>
  
              <td>
                <%=data[i].base_unit%>
              </td>
  
            </tr>
         <% } %> 
       
        </tbody>


      </table>
    </div>

</div>


  </body>
</html>






































<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trading List</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../public/index.css">
  </head>
  <body>

    <div class="tableContainer">
    <table class="table">
        
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Last</th>
          <th scope="col">Buy/Sell Price</th>
          <th scope="col">Volume</th>
          <th scope="col">Base_Unit</th>
        </tr>
      </thead>

